[submodule "submodules/JSONKit"]
	path = submodules/JSONKit
	url = https://github.com/johnezang/JSONKit.git
[submodule "submodules/OAuthConsumer"]
	path = submodules/OAuthConsumer
	url = https://github.com/kayleg/oauthconsumer.git
